name: CI

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Golang
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.6'

      - name: Install dependencies
        run: |
          go mod download

      - name: Run tests
        run: |
          go test -v ./...

      - name: Run linters
        run: |
          go vet ./...

      - name: Check formatting
        run: |
          unformatted="$(gofmt -s -l .)"
          if [ -n "$unformatted" ]; then
            echo "The following files are not formatted:"
            echo "$unformatted"
            exit 1
          fi
    continue-on-error: false
